{% extends "shop/base.html" %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="container">
    <h1> {{ title }} </h1>
    <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for i in products %}
            <div>
                <div class="card h-100" style="width: 16rem;">
                    <img src="{{ i.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title"> {{ i.name }} </h4>
                        <h5 class="card-title"> {{ i.price }}$ </h5>
                        <a class="btn btn-outline-primary btn-sm" href="{{ product.get_absolute_url }}"
                           role="button">Смотреть</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}