{% extends 'base.html' %}

{% block title %}
{{ articles_item.title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html'%}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        {{ articles_item.category }}
    </div>
    <div class="card-body">
        <div class="media">
            {% if articles_item.photo %}
            <img src="{{ articles_item.photo.url }}" width="300" class="mr-3">
            {% else %}
            <img src="/media/logo.png" width="300" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h4 class="card-title">{{ articles_item.title }}</h4>
                <p class="card-text">{{ articles_item.content|safe|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ articles_item.created_at |date:'Y.m.d H:i'}}
    </div>
</div>
{% endblock %}

